<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://bootstrap-4.ru/docs/5.3/assets/css/docs.css" rel="stylesheet">

  <link rel="stylesheet" href="styles_resourses.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <title>Resourses</title>
</head>

<body>

  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3/dist/vue-router.js"></script>

  <div id="app">
    <mainheader images='images/Vector.png'></mainheader>
    <resourses icon='images/logo_resourses.svg'> </resourses>
  </div>

  <div id="app2">
    <routerspath></routerspath>
    <router-view></router-view>
  </div>
</body>

<script>

  Vue.component('routerspath', {
    props: ['images'],
    template: `
  <div class="px-5 py-3 d-flex flex-column text-center flex-md-row">
      <router-link class="fs-2 px-2  font-weight-bold" to="/foo">
        <button v-bind:class="{active: isActive}" class=" font-weight-bold"
          v-on:click="isActive=!isActive , isActive2=false, isActive3=false  "> Softwere
        </button>
      </router-link>
      <router-link class="fs-2 px-2" to="/bar">
        <button v-bind:class="{active2: isActive2}"
          v-on:click="isActive2=!isActive2, isActive=false,  isActive3=false  ">Documents</button>
      </router-link>
      <router-link class=" fs-2 px-2" to="/tor">
        <button v-bind:class="{active3:isActive3}"
          v-on:click="isActive3=!isActive3, isActive2=false, isActive=false ">Shared filters</button>
    </div>
   `
  })

  const Foo = {
    template: `
    <div class="container-fluid">

<div class="row d-flex flex-column flex-md-row ">

  <div class="col-md d-flex  flex-column  justify-content-start">
    <div class="col-md fs-3 ">ADAM 1.8.1.7</div>
    <div class=" fs-5  my-3"> The version that your company is currently using. If you need you could download it
      there. To see your server data press the server button in the right cornet.</div>
    <div class=" fs-3  my-3 text-success">Under maintenance: 10/01/23</div>
    <div class=" my-2"><button class="login ">START LOADING</button></div>
  </div>

  <div class="col-md d-flex  flex-column justify-content-end">
    <div class="col-md fs-3 ">ADAM 2.0.1.4</div>
    <div class=" fs-5  my-3 pb-5"> The latest version of the application contains new features and improvements of
      the previous version</div>
    <div class="col-md fs-5 "></div>
    <div class="my-2"><button class="request">Request</button></div>
  </div>
</div>

<div class="row d-flex flex-column flex-md-row">

  <div class="col-md d-flex  flex-column  justify-content-start">
    <div class="col-md fs-3 ">Polyga FLEXSCAN 1.13.67</div>
    <div class=" fs-5  my-3"> The version that your company is currently using.</div>
    <div class=" fs-3  my-3 text-danger">Maintenance expired: 10/01/2021</div>
    <div class=" my-2 "><button class="login ">START LOADING</button> <button class="request  ">Request
        maintenance</button> </div>
  </div>

  <div class="col-md d-flex  flex-column justify-content-end">
    <div class="col-md fs-3 ">Polyga FLEXSCAN 1.62.7</div>
    <div class=" fs-5  my-3 pb-5"> The latest version of the application contains new features and improvements of
      the previous version</div>
    <div class="col-md fs-5 "></div>
    <div class="my-4"><button class="request">Request</button></div>
  </div>
</div>

</div> `}

  const Bar = {
    data: function () {
      return {
        visible: false
      }
    },
    template: `
  <div class="container-fluid">

    <div class="d-flex px-5 mt-4">
        <div class="col-10  ticketlist ">Document list</div>
        <div class="col-2  text-end"> <button class=" " v-on:click="visible=!visible"  >Show filters<></button> </div>
    </div>

    <div class="table-responsive">
    <table class="table">

      <thead class="text-center">
        <tr class="px-3">    
        <th scope="col"> Name</th>
        <th scope="col"> Data</th>
        <th scope="col"> Key Person</th>
        <th scope="col"> Total</th>
        <th scope="col"> Taxable</th>
      </tr>
    </thead>

      
        <tbody class="text-center">
            <tr class="text-center ticketlist">
                <th scope="col"> ОС-23</th>
                <th scope="col"> 12/07/22</th>
                <th scope="col"> Marco Rossini </th>
                <th scope="col"> €9.000.00 </th>
                <th scope="col"> €11.800.00 </th>
            </tr>
        </tbody>

        <tbody class="text-center">
          <tr class="text-center ticketlist">
            <th scope="col"> ОС-58</th>
                <th scope="col"> 23/09/22</th>
                <th scope="col"> Marco Rossini </th>
                <th scope="col"> €300.00 </th>
                <th scope="col"> €360.00 </th>
            </tr>
        </tbody>
       
    </table>
</div>

  

    <div v-if=visible class="container-fluid filters  ">
    <div class="row ">

        <div class="col-md-2 mt-3 text-center fs-3">Filters</div>
        <div class="col-md-10  d-flex justify-content-center">

            <div class=" d-flex flex-column flex-md-row ">
                <div  class=" px-3 py-3 bg-light-subtle  my-md-3">
                    
                    <div> Тип</div>
                    <select class=" fs-6 filters " name="" id="">
                        <option value="">Куплено (ВТ)</option>
                        <option value="">Продано (ВТ)</option>
                        <option value="">Статус (ВТ)</option>
                    </select>

                </div>
                <div class="px-3 py-3  bg-light-subtle my-md-3">
                    <div> Диапазон дат</div>
                    <input class=" filters" type="date" id="start" name="trip-start" value="2018-01-01"  min="2018-01-01"
                        max="2022-12-31">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>`,
  }

  const Tor = {
    data: function () {
      return { visible: false }
    },
    template: `
  <div class="row">
    <div class="d-flex px-5 mt-4">
        <div class="col-10  ticketlist ">Shared file list</div>
        <div class="col-2  text-end"> <button v-on:click="visible=!visible">Show filters<></button> </div>
    </div>

    <table class="table table-responsive">
    <thead class="text-center  ">
        <tr class="px-3 ">    
        <th scope="col"> Name</th>
        <th scope="col"> Extention</th>
        <th scope="col"> Data</th>
        <th scope="col"> Key Person</th>
      </tr>
    </thead>

    <tbody class="text-center  ticketlist">
      <tr class="text-center">
      <th scope="col"> Video</th>
      <th scope="col"> Avi</th>
      <th scope="col"> 12/07/22 </th>
      <th scope="col"> Marco Rossini </th>
    
      </tr>
    </tbody>
</body>
    <tbody class="text-center ticketlist  ">
    <tr class="text-center">
      <th scope="col"> Scanner3D</th>
      <th scope="col"> PNG</th>
      <th scope="col"> 12/07/22 </th>
      <th scope="col"> Marco Rossini </th>
 
    </tr>
  </tbody>
  </table>
    <div v-if=visible class="container-fluid filters  ">
    <div class="row ">
        <div class="col-md-2 mt-3 text-center fs-3">Filters</div>
        <div class="col-md-10  d-flex justify-content-center">
            <div class=" d-flex flex-column flex-md-row ">
                <div  class=" px-3 py-3 bg-light-subtle  my-md-3">
                    <div> Тип</div>
                    <select class=" fs-6 filters " name="" id="">
                        <option value="">Куплено (ВТ)</option>
                        <option value="">Продано (ВТ)</option>
                        <option value="">Статус (ВТ)</option>
                    </select>
                </div>
                <div class="px-3 py-3  bg-light-subtle my-md-3">
                    <div> Диапазон дат</div>
                    <input class=" filters" type="date" id="start" name="trip-start" value="2018-01-01"  min="2018-01-01"
                        max="2022-12-31">
                </div>
            </div>
        </div>
    </div>
</div>
   
</div>
</div>`,
  }

  const routes = [
    { path: '/foo', component: Foo },
    { path: '/bar', component: Bar },
    { path: '/tor', component: Tor }
  ]

  const router = new VueRouter({
    routes
  })

  new Vue({
    el: "#app2",
    data: {
      isActive: false,
      isActive2: false,
      isActive3: false,
      visible: false
    },
    router,
  })

</script>

<script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
<script src="main.js"></script>

</html>