@font-face {
    font-family: "dejavusans";
    src: url("fonts/dejavusans.woff2") format("woff2"),
        url("fonts/dejavusans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "franklingothbookctt";
    src: url("fonts/franklingothbookctt.woff2") format("woff2"),
        url("fonts/franklingothbookctt.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "carlito";
    src: url("fonts/carlito.woff2") format("woff2"),
        url("fonts/fcarlito.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}



html,
body {
    max-width: 100%;
    overflow-x: hidden;
}


.text_header {
    font-size: 34px;
    line-height: 30px;
    font-weight: 700;
}

.text_header_data {
    color: rgb(43, 81, 91);
    font-size: 20px;
    font-weight: 400;
}

button {
    border: none;
    background-color: rgb(255, 255, 255);

}

.tablexxx {
    overflow-y: scroll
}

.btn {
    background-color: rgb(43, 81, 91);
    color: rgb(255, 255, 255);
}

.fluid {
    background-color: rgb(43, 81, 91);
    color: rgb(255, 255, 255);
}

.back {
    background-color: rgb(29, 165, 202);
}

.block_size {
    min-width: 35%;
    max-width: 35%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.45em;
    color: rgb(255, 255, 255);
}

.description {
    height: 200px;
}

.block_up {
    font-size: 24px;
}

.block_down {
    font-size: 18px;
}

.ticket {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: rgb(77, 77, 77);
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

.total {
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: rgb(77, 77, 77);
}


.login {
    
    font-size: 24px;
    font-family: 'carlito';
    background-color: rgb(43, 81, 91);
    color: white;
    border-radius: 0.45rem;
    cursor: pointer;
}

.request {
   
    font-weight: 700;
    font-size: 24px;
    font-family: 'carlito';
    border: solid rgb(43, 81, 91) 1px;
    background-color: white;
    color:  rgb(43, 81, 91);
    border-radius: 0.45rem;
    cursor: pointer;
}

.inputs {
    background-color: rgb(252, 256, 246);
}

label {
    color: rgb(43, 81, 91);
    font-family: 'Comfortaa', cursive;
    font-size: 21px;
}

.ticketlist {
    color: rgb(123, 124, 125);
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    ;
}

.text {
    color: rgb(123, 124, 125);
}

.filters {
    background-color: rgb(227, 219, 219);
}

.routers:active {
    background-color: rgb(43, 81, 91);
    border-radius: 0.45em;
}



@media (max-width: 1024px) {
    .text_header {
        font-size: 24px;
    }

    .block_size {
        max-width: 45%;
    }
}


@media (max-width: 550px) {
    .ticket {
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
        color: rgb(77, 77, 77);
    }

    .total {
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        color: rgb(77, 77, 77);
    }
}

@media (max-width: 375px) {
    .ticket {
        font-family: 'Comfortaa', cursive;
        font-size: 15px;
        color: rgb(77, 77, 77);
    }

    .total {
        font-family: 'Comfortaa', cursive;
        font-size: 15px;
        color: rgb(77, 77, 77);
    }

    .table_text {
        font-size: 15px;
    }

}