.text_header {
    font-size: 34px;
    line-height: 30px;
    font-weight: 700;
}

.text_header_data {
    color: rgb(43, 81, 91);
    font-size: 20px;
    font-weight: 400;
}

button {
    border: none;
    background-color: rgb(255, 255, 255);

}

.btn {
   background-color:rgb(43, 81, 91) ;
   color: rgb(255, 255, 255);
}

.fluid {
    background-color: rgb(43, 81, 91);
    color: rgb(255, 255, 255);
}

.back{
    background-color: rgb(29, 165, 202);

}

.block_size {
    min-width: 35%;
    max-width: 35%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0.45em;
    color: rgb(255, 255, 255);

}
.description{
   height: 200px;
}

.block_up {
    font-size: 24px;
}

.block_down {
    font-size: 18px;
}

.ticket{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: rgb(77, 77, 77);
}

a{text-decoration: none;}
a:hover{
    opacity: 0.5;
}

.total{
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    color: rgb(77, 77, 77);

}

.inputs{
    background-color:rgb(252, 256, 246);  
}

label{
    color: rgb(43, 81, 91); 
    font-family: 'Comfortaa', cursive;
    font-size: 21px;
}

@media (max-width: 1024px) {
    .text_header {
        font-size: 24px;
    }

    .block_size {
        max-width: 45%;
    }
}


@media (max-width: 550px) {
    .ticket{
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
        color: rgb(77, 77, 77);
    }

    .total{
        font-family: 'Comfortaa', cursive;
        font-size: 20px;
        color: rgb(77, 77, 77);
       
    }

}

@media (max-width:  375px) {
    .ticket{
        font-family: 'Comfortaa', cursive;
        font-size: 15px;
        color: rgb(77, 77, 77);
    }

    .total{
        font-family: 'Comfortaa', cursive;
        font-size: 15px;
        color: rgb(77, 77, 77);       
    }

}