@font-face {
	font-family: 'FranklinGothBookCTT';
	src: url('../fonts/franklingothbookctt.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/franklingothbookctt.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/franklingothbookctt.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/franklingothbookctt.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/franklingothbookctt.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/franklingothbookctt.svg#franklingothbookctt') format('svg'); /* Chrome < 4, Legacy iOS */
}